/*
.modalContent {
  // 모달 본체를 위한 스타일
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); // 그림자 효과
  width: 10%;
  max-width: 500px;
  position: relative;
  text-align: center; // 내부 텍스트 및 요소 중앙 정렬
}

.modalCloseBtn {
  // 닫기 버튼을 위한 스타일
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}*/

.modalContent {
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: var(--shadow-medium);
  width: 90%;
  max-width: 150px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translate(10px, 10px);
}

.modalCloseBtn {
  position: absolute;
  top: 5px; /* 버튼을 위로 조금 더 이동 */
  right: 5px; /* 버튼을 오른쪽으로 조금 더 이동 */
  background-color: var(--white);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 50%; /* 동그란 버튼 모양 */
  width: 32px; /* 버튼의 크기 지정 */
  height: 32px; /* 버튼의 크기 지정 */
  font-size: 1.4rem; /* X 아이콘의 크기 조정 */
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  /* 'X' 아이콘을 버튼의 정중앙으로 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--background-color);
    box-shadow: var(--shadow-sm);
  }
}

.modalContent button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;

  &:first-of-type {
    width: 15%;
    height: 15%;
    background-color: var(--primary-color);
    color: var(--white);

    &:hover {
      background-color: var(--primary-hover);
      box-shadow: var(--shadow-sm);
    }
  }

  &:last-of-type {
    background-color: var(--white);
    color: var(--text-color);
    border: 1px solid var(--border-color);

    &:hover {
      background-color: var(--background-color);
    }
  }
}